<launch>

  <arg name="station_id" default="0"/>

  <node pkg="swarm_bridge" name="station_$(arg station_id)_bridge_node_tcp" type="bridge_node_tcp" output="screen">

    <param name="self_id" value="$(arg station_id)"/>
    <param name="is_ground_station" value="true"/>
    <param name="drone_num" value="$(env DRONE_NUM)"/>
    <param name="drone_ip_0" value="$(env DRONE_IP_0)" type="string"/>
    <param name="drone_ip_1" value="$(env DRONE_IP_1)" type="string"/>
    <param name="drone_ip_2" value="$(env DRONE_IP_2)" type="string"/>
    <param name="drone_ip_3" value="$(env DRONE_IP_3)" type="string"/>
    <param name="drone_ip_4" value="$(env DRONE_IP_4)" type="string"/>
    <param name="ground_station_num" value="1"/>
    <param name="ground_station_ip_0" value="$(env GS_IP)" type="string"/>

  </node>

  <node pkg="swarm_bridge" name="traj2odom_node" type="traj2odom_node" output="screen">

    <param name="odom_hz" value="30" />

  </node>

</launch>
