<launch>
    <arg name="odom_topic" value="/ekf/ekf_odom"/>
    <arg name="drone_id"  value="$(env DRONE_ID)"/>
    <include file="$(find diff_planner)/launch/include/advanced_param_exp_swarm.xml">
        <arg name="odom_topic" value="$(arg odom_topic)"/>
        <arg name="drone_id" value="$(arg drone_id)"/>
        <!-- camera pose: transform of camera frame in the world frame -->
        <!-- depth topic: depth image, 640x480 by default -->
        <!-- don't set cloud_topic if you already set these ones! -->
        <arg name="camera_pose_topic" value="no_use0"/>
        <arg name="depth_topic" value="no_use1"/>
        <!-- topic of point cloud measurement, such as from LIDAR  -->
        <!-- don't set camera pose and depth, if you already set this one! -->
        <arg name="cloud_topic" value="/laserMapping/cloud_registered"/>
        <!-- intrinsic params of the depth camera -->
        <arg name="cx" value="319.31427001953125"/>
        <arg name="cy" value="239.09725952148438"/>
        <arg name="fx" value="386.2706298828125"/>
        <arg name="fy" value="386.2706298828125"/>
        <!-- maximum velocity, acceleration and jerk the drone will reach -->
        <arg name="max_vel" value="0.5" />
        <arg name="max_acc" value="3.0" />
        <arg name="max_jer" value="20.0"/>
        <!--always set to 1.5 times grater than sensing horizen-->
        <arg name="planning_horizon" value="7.5" />
        <!-- map parameters  -->
        <arg name="local_map_size_x" value="5.5"/>
        <arg name="local_map_size_y" value="5.5"/>
        <arg name="local_map_size_z" value="2.0"/>
        <arg name="enable_virtual_wall" value="true"/>
        <arg name="virtual_ceil" value="2.0"/>
        <arg name="virtual_ground" value="0.2"/>
        <arg name="map_resolution" value="0.15"/>
        <arg name="inflation_size" value="0.3"/>

        <arg name="init_x"     value="$(env INIT_X)"/>
		<arg name="init_y"     value="$(env INIT_Y)"/>
		<arg name="init_z"     value="$(env INIT_Z)"/>
        
        <!-- 1: use 2D Nav Goal to select goal  -->
        <!-- 2: use global waypoints below  -->
        <arg name="flight_type" value="$(env FLIGHT_TYPE)" />
        <!-- global waypoints -->
        <!-- It generates a piecewise min-snap traj passing all waypoints -->
        <arg name="point_num" value="$(env POINT_NUM)" />
        <arg name="point0_x" value="$(env POINT0_X)" />
        <arg name="point0_y" value="$(env POINT0_Y)" />
        <arg name="point0_z" value="$(env POINT0_Z)" />
        <arg name="point1_x" value="$(env POINT1_X)" />
        <arg name="point1_y" value="$(env POINT1_Y)" />
        <arg name="point1_z" value="$(env POINT1_Z)" />
        <arg name="point2_x" value="$(env POINT2_X)" />
        <arg name="point2_y" value="$(env POINT2_Y)" />
        <arg name="point2_z" value="$(env POINT2_Z)" />
        <arg name="point3_x" value="$(env POINT3_X)" />
        <arg name="point3_y" value="$(env POINT3_Y)" />
        <arg name="point3_z" value="$(env POINT3_Z)" />
        <arg name="point4_x" value="$(env POINT4_X)" />
        <arg name="point4_y" value="$(env POINT4_Y)" />
        <arg name="point4_z" value="$(env POINT4_Z)" />
    </include>

    <node pkg="diff_planner" name="drone_$(arg drone_id)_traj_server" type="traj_server" output="screen">
        <remap from="position_cmd" to="/setpoints_cmd"/>
        <remap from="~planning/trajectory" to="/drone_$(arg drone_id)_planning/trajectory"/>
        <remap from="~planning/yaw" to="/drone_$(arg drone_id)_planning/yaw"/>
        <remap from="~heartbeat" to="/drone_$(arg drone_id)_traj_server/heartbeat"/>
        <param name="traj_server/time_forward" value="1.0" type="double"/>
        <param name="traj_server/yaw_dot_max" value="3.14" type="double"/>
        <param name="traj_server/yaw_dot_dot_max" value="15.71" type="double"/>
    </node>

</launch>

